* {
  margin: 0px;
  padding: 0px;
  font-family: "Roboto Slab", serif;
  text-decoration: none;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box; }

header {
  background-color: white;
  width: 100%;
  height: 200px;
  margin: 5px 0px; }

body {
  width: 100%;
  padding: 0 5px; }

/* Colores y titulos */
header {
  width: 100%; }

.contenedorLogo {
  display: flex;
  justify-content: center; }

.logoNav {
  width: auto;
  height: 150px; }

#btn-menu {
  display: none; }

header label {
  display: none;
  width: 30px;
  height: 30px;
  border-right: 1px solid grey; }

.menu li {
  border-right: 1px solid grey; }

header label:hover {
  cursor: pointer; }

.menu ul {
  margin: 0;
  padding: 0;
  display: flex;
  background: white;
  justify-content: center; }

.menu li:hover {
  background: linear-gradient(90deg, #f4a261 0%, #ef8350 35%, #e76f51 100%); }

.menu li a {
  display: block;
  padding: 15px 20px;
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
  line-height: 20px;
  color: black; }

.contenedorCarousel {
  width: 100%;
  height: 700px; }

.carousel {
  width: 100%;
  height: 700px; }

.carousel-inner {
  width: 100%;
  height: 700px; }

.carousel-inner > img {
  width: 700px;
  height: 400px; }

.carousel-item > img {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 80%;
  height: 700px;
  padding: 5px; }

.imgCarousel {
  width: 100%;
  height: auto; }

.featurette-divider {
  margin: 5rem 0; }

.featurette-heading {
  font-weight: 300;
  line-height: 1; }

@media (min-width: 40em) {
  .carousel-caption p {
    margin-bottom: 1.25rem;
    font-size: 1.25rem;
    line-height: 1.4; }
  .featurette-heading {
    font-size: 50px; } }

@media (min-width: 62em) {
  .featurette-heading {
    margin-top: 7rem; } }

@media (min-width: 40em) {
  .carousel-caption p {
    margin-bottom: 1.25rem;
    font-size: 1.25rem;
    line-height: 1.4; }
  .featurette-heading {
    font-size: 50px; } }

@media (min-width: 62em) {
  .featurette-heading {
    margin-top: 7rem; } }

.pedidosYaContainer {
  width: 100%;
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  animation-name: pedidos;
  animation-duration: 6s;
  animation-iteration-count: unset;
  background-color: white;
  padding: 0 10px 0 10px; }
  .pedidosYaContainer .contenedorPedidos {
    background-color: white;
    width: 600px;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: center;
    border: 1px solid black;
    animation-name: pedidosanimation;
    animation-duration: 4s;
    animation-iteration-count: easeOutQuint; }

@keyframes pedidosanimation {
  0% {
    margin-bottom: 0px; }
  50% {
    margin-bottom: 50px; }
  100% {
    margin-bottom: 0px; } }
    .pedidosYaContainer .contenedorPedidos .titleAbsoluteIndex {
      font-size: 44px;
      letter-spacing: 1px;
      position: absolute;
      padding: 0 15px 0 15px;
      top: 2736px;
      background-color: white; }
    .pedidosYaContainer .contenedorPedidos .titleAbsoluteSabores {
      font-size: 44px;
      letter-spacing: 1px;
      position: absolute;
      padding: 0 15px 0 15px;
      top: 3339px;
      background-color: white; }
    .pedidosYaContainer .contenedorPedidos .titleAbsolutePromociones {
      font-size: 44px;
      letter-spacing: 1px;
      position: absolute;
      padding: 0 15px 0 15px;
      top: 1530px;
      background-color: white; }
    .pedidosYaContainer .contenedorPedidos .titleAbsoluteServicios {
      font-size: 44px;
      letter-spacing: 1px;
      position: absolute;
      padding: 0 15px 0 15px;
      top: 1381px;
      background-color: white; }
    .pedidosYaContainer .contenedorPedidos .logoPedidos {
      width: 70px;
      height: 70px;
      border-radius: 46px; }

body header {
  width: 100%; }

body .historiaHome {
  width: 100%;
  height: auto;
  padding: 90px 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("../img/fondo.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed; }
  body .historiaHome .izq {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 530px; }
    body .historiaHome .izq .imgHome {
      width: 280px;
      height: auto; }
    body .historiaHome .izq .parrafoHistoria {
      width: 400px;
      height: 224px;
      text-align: center;
      font-size: 22px;
      letter-spacing: 1px;
      margin: 8px 50px 0 50px; }
    body .historiaHome .izq .tituloSpan {
      font-size: 47px;
      letter-spacing: 2px;
      font-weight: 600; }
  body .historiaHome .der {
    width: 590px;
    height: 500px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    animation-name: foto02;
    animation-duration: 6s;
    animation-iteration-count: unset; }

@keyframes foto02 {
  0% {
    opacity: 0.4; }
  50% {
    opacity: 0.8; }
  100% {
    opacity: 1; } }
    body .historiaHome .der .foto02 {
      width: 272px;
      height: auto;
      position: absolute;
      left: 0px;
      top: 75px; }
    body .historiaHome .der .foto01 {
      width: 300px;
      height: auto;
      position: absolute;
      left: 0px;
      top: 295px; }
    body .historiaHome .der .foto03 {
      width: 300px;
      height: auto;
      position: absolute;
      left: 248px;
      top: 151px; }

body .tituloLocal {
  font-size: 52px;
  line-height: 58px;
  text-align: center;
  font-weight: bold;
  width: 100%;
  margin: 90px 0; }

body .locales {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  animation-name: cardLocal;
  animation-duration: 4s;
  animation-iteration-count: ease; }

@keyframes cardLocal {
  0% {
    opacity: 0.2; }
  50% {
    opacity: 0.9; }
  100% {
    opacity: 1; } }
  body .locales .cardLocal {
    padding: 20px 0;
    width: 500px;
    margin-bottom: 25px;
    text-align: center;
    display: inline-block;
    margin: 25px 50px;
    border-radius: 10px;
    box-shadow: 2px 1px 10px #ddd;
    background: #fff; }
    body .locales .cardLocal .localImg {
      width: 450px;
      height: 542px;
      border-radius: 11px; }
    body .locales .cardLocal .arriba .textoIndex {
      font-size: 26px;
      padding-top: 20px; }
    body .locales .cardLocal .arriba .spanText {
      font-size: 16px; }
    body .locales .cardLocal .linea {
      width: 180px;
      height: 3px;
      font-weight: 50px;
      background: #4e4e4e;
      margin-left: 150px; }
    body .locales .cardLocal .iconRedes {
      width: 40px;
      padding: 5px; }

body header {
  width: 100%; }
  body header .contenedorLogo {
    display: flex;
    justify-content: center; }
    body header .contenedorLogo .logoNav {
      width: auto;
      height: 150px; }

body .imgBannerSabores {
  background-image: url("../img/saboresBanner.jpg");
  background-size: cover;
  background-attachment: fixed;
  width: 100%;
  height: 300px;
  padding: 10px 0 10 0; }

body .fondoSabores {
  background-image: url("../img/back.jpg");
  width: 100%;
  height: auto; }
  body .fondoSabores .titleListaSabores {
    font-size: 60px;
    text-align: center;
    padding-top: 20px;
    animation-name: titleListaSabores;
    animation-duration: 6s;
    animation-iteration-count: unset; }

@keyframes titleListaSabores {
  0% {
    opacity: 0.2; }
  50% {
    opacity: 0.9; }
  100% {
    opacity: 1; } }
  body .fondoSabores #animationSaboresHeladoCard01 {
    animation-name: animationSaboresHeladoCard01;
    animation-duration: 3s;
    animation-iteration-count: ease; }

@keyframes animationSaboresHeladoCard01 {
  0% {
    opacity: 0; }
  50% {
    opacity: 0.8; }
  100% {
    opacity: 1; } }
  body .fondoSabores #animationSaboresHeladoCard02 {
    animation-name: animationSaboresHeladoCard02;
    animation-duration: 6s;
    animation-iteration-count: ease; }

@keyframes animationSaboresHeladoCard02 {
  0% {
    opacity: 0; }
  50% {
    opacity: 0.8; }
  100% {
    opacity: 1; } }
  body .fondoSabores #animationSaboresHeladoCard03 {
    animation-name: animationSaboresHeladoCard03;
    animation-duration: 9s;
    animation-iteration-count: ease; }

@keyframes animationSaboresHeladoCard03 {
  0% {
    opacity: 0; }
  50% {
    opacity: 0.8; }
  100% {
    opacity: 1; } }
  body .fondoSabores .saboresHeladosCard {
    display: inline-block;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 80px;
    padding-bottom: 60px; }
    body .fondoSabores .saboresHeladosCard .saboresFoto .imgHelado {
      width: 540px;
      height: 540px;
      margin-top: 140px; }
    body .fondoSabores .saboresHeladosCard .listaSabores {
      font-size: 24px;
      width: 900px;
      margin: 0px 40px;
      margin-top: 80px;
      column-count: 2; }

body .pedidosYaContainer {
  display: flex;
  align-items: center;
  justify-content: center; }
  body .pedidosYaContainer .pedidosImg {
    width: 50px;
    height: 50px;
    border-radius: 200px; }

body {
  background-image: url("../img/back.jpg"); }
  body header {
    width: 100%; }
    body header .contenedorLogo {
      display: flex;
      justify-content: center; }
      body header .contenedorLogo .logoNav {
        width: auto;
        height: 150px; }
  body .imgBannerPromociones {
    background-image: url("../img/promocionesBanner.jpg");
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    height: 300px;
    padding: 10px 0 10 0; }
  body .tituloLocal {
    font-size: 50px;
    line-height: 58px;
    text-align: center;
    font-weight: bold;
    width: 100%;
    margin: 90px 0; }
  body .promocionesHelado {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-content: center; }
    body .promocionesHelado .cardPromocion {
      width: auto;
      height: auto;
      margin: 20px;
      padding: 20px; }
      body .promocionesHelado .cardPromocion .promocionImg {
        width: 550px;
        height: 550px;
        transition: all .3s ease-in-out; }
      body .promocionesHelado .cardPromocion .promocionImg:hover {
        transform: scale(0.9);
        transform-origin: center center; }
      body .promocionesHelado .cardPromocion .titlePromocion {
        font-size: 20px;
        line-height: 30px; }
      body .promocionesHelado .cardPromocion .lineaPromocion {
        width: 110px;
        height: 3px;
        font-weight: 50px;
        background: #4e4e4e; }

body {
  background-image: url("../img/back.jpg"); }
  body header {
    width: 100%; }
    body header .contenedorLogo {
      display: flex;
      justify-content: center; }
      body header .contenedorLogo .logoNav {
        width: auto;
        height: 150px; }
  body .imgBannerNosotros {
    background-image: url("../img/bannerHelado.jpg");
    background-size: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    width: 100%;
    height: 300px;
    padding: 10px 0 10 0; }
  body .cardNosotros {
    display: flex;
    flex-direction: row;
    justify-content: center; }
    body .cardNosotros .cardNosotrosImg .imgNosotros {
      width: 600px;
      overflow: hidden;
      margin: 20px;
      padding: 20px; }
    body .cardNosotros .contenedorParrafo {
      width: 574px;
      height: 350px;
      padding: 20px;
      margin: 20px;
      position: relative;
      top: 70px; }

.contenedorGaleria {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: center;
  margin: 50px 10px;
  padding: 10px;
  border: 1px 0px 0px 0px solid gray; }
  .contenedorGaleria .galeria {
    display: flex;
    padding: 5px;
    align-items: center;
    flex-wrap: wrap;
    width: 80%; }
    .contenedorGaleria .galeria .column {
      flex: 5%;
      padding: 5px; }
      .contenedorGaleria .galeria .column .imgGaleria {
        display: block;
        margin: 0 auto;
        margin-top: 5px;
        width: 100%;
        transition: all .3s ease-in-out; }
      .contenedorGaleria .galeria .column .imgGaleria:hover {
        transform: scale(0.9);
        transform-origin: center center; }
  @media (max-width: 800px) {
    .contenedorGaleria .column {
      flex: 50%; } }
  @media (max-width: 600px) {
    .contenedorGaleria .column {
      flex: 100%; } }

body {
  background-image: url("../img/back.jpg"); }
  body header {
    width: 100%; }
    body header .contenedorLogo {
      display: flex;
      justify-content: center; }
      body header .contenedorLogo .logoNav {
        width: auto;
        height: 150px; }
  body .imgBannerServicios {
    background-image: url("../img/serviciosBanner.jpg");
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    height: 300px;
    padding: 10px 0 10 0; }
  body .formularioCentro {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 50px 0px;
    padding: 0 50px 100px 0; }
    body .formularioCentro .formulario {
      width: 400px;
      height: 600px;
      padding: 20px;
      text-align: center;
      float: center; }
      body .formularioCentro .formulario .selectForm {
        width: 400px;
        margin: 10px; }
      body .formularioCentro .formulario .input {
        width: 400px;
        margin: 10px; }
      body .formularioCentro .formulario .textarea {
        width: 400px;
        margin: 10px; }
      body .formularioCentro .formulario .label {
        font-size: 16px; }
    body .formularioCentro .contenedorParrafo {
      width: 474px;
      height: auto;
      padding: 50px;
      margin: 20px;
      position: relative;
      top: 70px; }

@media (max-width: 1399px) {
  header {
    width: auto;
    height: 200px; }
  header label {
    display: block; }
  body header .contenedorLogo .logoNav {
    width: auto;
    height: 150px; }
  .carousel-item > img {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 10%;
    height: auto;
    padding: 5px; }
  .carousel-inner {
    width: 100%;
    height: 619px; }
  .carousel {
    width: 100%;
    height: 489px; }
  .contenedorCarousel {
    width: 100%;
    height: 409px; }
  body {
    background-image: url(../img/back.jpg);
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center; }
    body .menu {
      position: absolute;
      width: 70%;
      margin-left: -70%; }
      body .menu ul {
        flex-direction: column; }
    body #btn-menu:checked ~ .menu {
      margin: 0;
      z-index: 1; }
    body .historiaHome {
      margin-top: 100px;
      width: 100%;
      height: 667px;
      display: flex;
      align-items: center;
      flex-direction: row;
      justify-content: center;
      background-image: url(../img/fondo.jpg);
      background-size: cover;
      background-position: center;
      background-attachment: fixed; }
      body .historiaHome .izq {
        width: 400px;
        height: 430px; }
        body .historiaHome .izq .imgHome {
          width: 300px;
          height: auto; }
        body .historiaHome .izq .tituloSpan {
          font-size: 42px;
          letter-spacing: 2px;
          font-weight: 600; }
        body .historiaHome .izq .parrafoHistoria {
          width: 400px;
          height: 200px;
          text-align: center;
          font-size: 21px;
          letter-spacing: 1px;
          margin: 8 px 50 px 0 50 px; }
      body .historiaHome .der {
        width: 400px;
        height: 400px;
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        animation-name: foto02;
        animation-duration: 6s;
        animation-iteration-count: unset; }
        body .historiaHome .der .foto03 {
          width: 235px;
          height: auto;
          position: absolute;
          left: 223px;
          top: 151px; }
        body .historiaHome .der .foto02 {
          width: 233px;
          height: auto;
          position: absolute;
          left: 49px;
          top: 48px; }
        body .historiaHome .der .foto01 {
          width: 233px;
          height: auto;
          position: absolute;
          left: 47px;
          top: 237px; }
    body .tituloLocal {
      font-size: 42px;
      line-height: 58px;
      text-align: center;
      font-weight: bold;
      width: 100%;
      padding: 0;
      margin: 50px 0 20px 0; }
    body .locales {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      animation-name: cardLocal;
      animation-duration: 4s;
      animation-iteration-count: ease;
      flex-direction: row; }
      body .locales .cardLocal {
        padding: 20px 0;
        width: 444px;
        margin-bottom: 25px;
        text-align: center;
        display: inline-block;
        margin: 10;
        border-radius: 10 px;
        box-shadow: 2px 1px 10px #ddd;
        background: #fff; }
        body .locales .cardLocal .localImg {
          width: 390px; }
        body .locales .cardLocal .linea {
          width: 175px;
          height: 3px;
          margin-left: 120px;
          background: #4e4e4e; }
    body .pedidosYaContainer .contenedorPedidos .titleAbsoluteIndex {
      top: 2414px;
      font-size: 38px;
      letter-spacing: 1px;
      position: absolute;
      padding: 0 15px 0 15px;
      background-color: white; } }

@media (max-width: 1199px) {
  header {
    width: auto;
    height: 200px; }
  header label {
    display: block; }
  body header .contenedorLogo .logoNav {
    width: auto;
    height: 150px; }
  .carousel-item > img {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 10%;
    height: auto;
    padding: 5px; }
  .carousel-inner {
    width: 100%;
    height: 619px; }
  .carousel {
    width: 100%;
    height: 489px; }
  .contenedorCarousel {
    width: 100%;
    height: 409px; }
  body {
    background-image: url(../img/back.jpg);
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center; }
    body .menu {
      position: absolute;
      width: 70%;
      margin-left: -70%; }
      body .menu ul {
        flex-direction: column; }
    body #btn-menu:checked ~ .menu {
      margin: 0;
      z-index: 1; }
    body .historiaHome {
      margin-top: 100px;
      width: 100%;
      height: 667px;
      display: flex;
      align-items: center;
      flex-direction: row;
      justify-content: center;
      background-image: url(../img/fondo.jpg);
      background-size: cover;
      background-position: center;
      background-attachment: fixed; }
      body .historiaHome .izq {
        width: 400px;
        height: 430px; }
        body .historiaHome .izq .imgHome {
          width: 300px;
          height: auto; }
        body .historiaHome .izq .tituloSpan {
          font-size: 42px;
          letter-spacing: 2px;
          font-weight: 600; }
        body .historiaHome .izq .parrafoHistoria {
          width: 400px;
          height: 200px;
          text-align: center;
          font-size: 21px;
          letter-spacing: 1px;
          margin: 8 px 50 px 0 50 px; }
      body .historiaHome .der {
        width: 400px;
        height: 400px;
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        animation-name: foto02;
        animation-duration: 6s;
        animation-iteration-count: unset; }
        body .historiaHome .der .foto03 {
          width: 235px;
          height: auto;
          position: absolute;
          left: 223px;
          top: 151px; }
        body .historiaHome .der .foto02 {
          width: 233px;
          height: auto;
          position: absolute;
          left: 49px;
          top: 48px; }
        body .historiaHome .der .foto01 {
          width: 233px;
          height: auto;
          position: absolute;
          left: 47px;
          top: 237px; }
    body .tituloLocal {
      font-size: 42px;
      line-height: 58px;
      text-align: center;
      font-weight: bold;
      width: 100%;
      padding: 0;
      margin: 50px 0 20px 0; }
    body .locales {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      animation-name: cardLocal;
      animation-duration: 4s;
      animation-iteration-count: ease;
      flex-direction: row; }
      body .locales .cardLocal {
        padding: 20px 0;
        width: 444px;
        margin-bottom: 25px;
        text-align: center;
        display: inline-block;
        margin: 10;
        border-radius: 10 px;
        box-shadow: 2px 1px 10px #ddd;
        background: #fff; }
        body .locales .cardLocal .localImg {
          width: 390px; }
        body .locales .cardLocal .linea {
          width: 175px;
          height: 3px;
          margin-left: 120px;
          background: #4e4e4e; }
    body .pedidosYaContainer .contenedorPedidos .titleAbsoluteIndex {
      top: 2414px;
      font-size: 38px;
      letter-spacing: 1px;
      position: absolute;
      padding: 0 15px 0 15px;
      background-color: white; } }

@media (max-width: 991px) {
  header label {
    display: block; }
  .menu {
    position: absolute;
    width: 70%;
    margin-left: -70%; }
  .menu ul {
    flex-direction: column; }
  #btn-menu:checked ~ .menu {
    margin: 0;
    z-index: 1; }
  .historiaHome {
    width: 100%;
    height: auto;
    padding: 90 px 0 px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(../img/fondo.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    flex-direction: column; }
  .locales {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    animation-name: cardLocal;
    animation-duration: 4s;
    animation-iteration-count: ease;
    flex-direction: column; }
  .pedidosYaContainer .contenedorPedidos .titleAbsoluteIndex {
    font-size: 44px;
    letter-spacing: 1px;
    position: absolute;
    padding: 0 15 px 0 15 px;
    top: 4054px;
    background-color: white; } }

@media (max-width: 800px) {
  header {
    width: auto;
    height: 130px; }
  header label {
    display: block; }
  body header .contenedorLogo .logoNav {
    width: auto;
    height: 100px; }
  .carousel-item > img {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 10%;
    height: 422px;
    padding: 5px; }
  .carousel-inner {
    width: 100%;
    height: 422px; }
  .carousel {
    width: 100%;
    height: 422px; }
  .contenedorCarousel {
    width: 100%;
    height: 422px; }
  body {
    background-image: url(../img/back.jpg);
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center; }
    body .menu {
      position: absolute;
      width: 70%;
      margin-left: -70%; }
      body .menu ul {
        flex-direction: column; }
    body #btn-menu:checked ~ .menu {
      margin: 0;
      z-index: 1; }
    body .historiaHome {
      margin: 0 auto;
      padding-top: 0;
      width: 100%;
      height: auto;
      display: flex;
      align-items: center;
      flex-direction: row;
      justify-content: center;
      background-image: url(../img/fondo.jpg);
      background-size: cover;
      background-position: center;
      background-attachment: fixed; }
      body .historiaHome .izq {
        width: 300px;
        height: 310px; }
        body .historiaHome .izq .imgHome {
          width: 187px;
          height: auto; }
        body .historiaHome .izq .tituloSpan {
          font-size: 28px;
          letter-spacing: 2px;
          font-weight: 600; }
        body .historiaHome .izq .parrafoHistoria {
          width: 300px;
          height: 150px;
          text-align: center;
          font-size: 15px;
          letter-spacing: 1px;
          margin: 8 px 50 px 0 50 px; }
      body .historiaHome .der {
        width: 300px;
        height: 300px;
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        animation-name: foto02;
        animation-duration: 6s;
        animation-iteration-count: unset; }
        body .historiaHome .der .foto03 {
          width: 150px;
          height: auto;
          position: absolute;
          left: 150px;
          top: 158px; }
        body .historiaHome .der .foto02 {
          width: 149px;
          height: auto;
          position: absolute;
          left: 20px;
          top: 72px; }
        body .historiaHome .der .foto01 {
          width: 143px;
          height: auto;
          position: absolute;
          left: 20px;
          top: 193px; }
    body .tituloLocal {
      font-size: 28px;
      line-height: 58px;
      text-align: center;
      font-weight: bold;
      width: 100%;
      padding: 0;
      margin: 0; }
    body .locales {
      width: 800px;
      display: flex;
      align-items: center;
      justify-content: center;
      animation-name: cardLocal;
      animation-duration: 4s;
      animation-iteration-count: ease;
      flex-direction: row; }
      body .locales .cardLocal {
        padding: 20px 0;
        width: 300px;
        height: 565px;
        margin: 25px 5px;
        text-align: center;
        display: inline-block;
        border-radius: 10 px;
        box-shadow: 2px 1px 10px #ddd;
        background: #fff; }
        body .locales .cardLocal .localImg {
          width: 240px;
          height: 300px; }
        body .locales .cardLocal .linea {
          width: 127px;
          height: 3 px;
          font-weight: 50px;
          background: #4e4e4e;
          margin-left: 79px; }
    body .pedidosYaContainer {
      width: 586px;
      height: 200px; }
      body .pedidosYaContainer .contenedorPedidos .titleAbsoluteIndex {
        top: 1623px;
        font-size: 24px;
        letter-spacing: 1px;
        position: absolute;
        padding: 0 15px 0 15px;
        background-color: white; } }

@media (max-width: 767px) {
  header {
    width: auto;
    height: 200px; }
  header label {
    display: block; }
  body header .contenedorLogo .logoNav {
    width: auto;
    height: 150px; }
  .carousel-item > img {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 10%;
    height: 444px;
    padding: 5px; }
  .carousel-inner {
    width: 100%;
    height: 444px; }
  .carousel {
    width: 100%;
    height: 444px; }
  .contenedorCarousel {
    width: 100%;
    height: 444px; }
  body {
    background-image: url(../img/back.jpg);
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center; }
    body .menu {
      position: absolute;
      width: 70%;
      margin-left: -70%; }
      body .menu ul {
        flex-direction: column; }
    body #btn-menu:checked ~ .menu {
      margin: 0;
      z-index: 1; }
    body .historiaHome {
      width: 100%;
      height: 667px;
      display: flex;
      align-items: center;
      flex-direction: row;
      justify-content: center;
      background-image: url(../img/fondo.jpg);
      background-size: cover;
      background-position: center;
      background-attachment: fixed; }
      body .historiaHome .izq {
        width: 400px;
        height: 430px; }
        body .historiaHome .izq .imgHome {
          width: 260px;
          height: auto; }
        body .historiaHome .izq .tituloSpan {
          font-size: 38px;
          letter-spacing: 2px;
          font-weight: 600; }
        body .historiaHome .izq .parrafoHistoria {
          width: 350px;
          height: 200px;
          text-align: center;
          font-size: 15px;
          letter-spacing: 1px;
          margin: 8 px 50 px 0 50 px; }
      body .historiaHome .der {
        width: 400px;
        height: 400px;
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        animation-name: foto02;
        animation-duration: 6s;
        animation-iteration-count: unset; }
        body .historiaHome .der .foto03 {
          width: 193px;
          height: auto;
          position: absolute;
          left: 108px;
          top: 136px; }
        body .historiaHome .der .foto02 {
          width: 188px;
          height: auto;
          position: absolute;
          left: 0px;
          top: 48px; }
        body .historiaHome .der .foto01 {
          width: 188px;
          height: auto;
          position: absolute;
          left: 0px;
          top: 200px; }
    body .tituloLocal {
      font-size: 38px;
      line-height: 58px;
      text-align: center;
      font-weight: bold;
      width: 100%;
      padding: 0;
      margin: 25px 0 10px 0; }
    body .locales {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      animation-name: cardLocal;
      animation-duration: 4s;
      animation-iteration-count: ease;
      flex-direction: row; }
      body .locales .cardLocal {
        padding: 20px 0;
        width: 350px;
        margin-bottom: 25px;
        text-align: center;
        display: inline-block;
        margin: 10;
        border-radius: 10 px;
        box-shadow: 2px 1px 10px #ddd;
        background: #fff; }
        body .locales .cardLocal .localImg {
          width: 320px; }
        body .locales .cardLocal .linea {
          width: 175px;
          height: 3px;
          margin-left: 90px;
          background: #4e4e4e; }
    body .pedidosYaContainer .contenedorPedidos .titleAbsoluteIndex {
      top: 2414px;
      font-size: 38px;
      letter-spacing: 1px;
      position: absolute;
      padding: 0 15px 0 15px;
      background-color: white; } }

@media (max-width: 575px) {
  header {
    width: auto;
    height: 130px; }
  header label {
    display: block; }
  body header .contenedorLogo .logoNav {
    width: auto;
    height: 100px; }
  .carousel-item > img {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 10%;
    height: 389px;
    padding: 5px; }
  .carousel-inner {
    width: 100%;
    height: 389px; }
  .carousel {
    width: 100%;
    height: 389px; }
  .contenedorCarousel {
    width: 100%;
    height: 389px; }
  body {
    background-image: url(../img/back.jpg);
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center; }
    body .menu {
      position: absolute;
      width: 70%;
      margin-left: -70%; }
      body .menu ul {
        flex-direction: column; }
    body #btn-menu:checked ~ .menu {
      margin: 0;
      z-index: 1; }
    body .historiaHome {
      padding: 0;
      width: 100%;
      height: auto;
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: center;
      background-image: url(../img/fondo.jpg);
      background-size: cover;
      background-position: center;
      background-attachment: fixed; }
      body .historiaHome .izq {
        width: 400px;
        height: 430px; }
        body .historiaHome .izq .imgHome {
          width: 213px;
          height: auto; }
        body .historiaHome .izq .tituloSpan {
          font-size: 44px;
          letter-spacing: 2px;
          font-weight: 600; }
    body .tituloLocal {
      font-size: 44px;
      line-height: 58px;
      text-align: center;
      font-weight: bold;
      width: 100%;
      padding: 80px 0 40px 0;
      margin: 100px 0 20px 0; }
    body .locales {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      animation-name: cardLocal;
      animation-duration: 4s;
      animation-iteration-count: ease;
      flex-direction: column; }
    body .pedidosYaContainer .contenedorPedidos .titleAbsoluteIndex {
      top: 3444px;
      font-size: 44px;
      letter-spacing: 1px;
      position: absolute;
      padding: 0 15px 0 15px;
      background-color: white; } }

@media (max-width: 425px) {
  header {
    width: auto;
    height: 130px; }
  header label {
    display: block; }
  body header .contenedorLogo .logoNav {
    width: auto;
    height: 100px; }
  .carousel-item > img {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 10%;
    height: 289px;
    padding: 5px; }
  .carousel-inner {
    width: 100%;
    height: 289px; }
  .carousel {
    width: 100%;
    height: 289px; }
  .contenedorCarousel {
    width: 100%;
    height: 289px; }
  body {
    background-image: url(../img/back.jpg);
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center; }
    body .menu {
      position: absolute;
      width: 70%;
      margin-left: -70%; }
      body .menu ul {
        flex-direction: column; }
    body #btn-menu:checked ~ .menu {
      margin: 0;
      z-index: 1; }
    body .historiaHome {
      margin: 0;
      width: 100%;
      height: auto;
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: center;
      background-image: url(../img/fondo.jpg);
      background-size: cover;
      background-position: center;
      background-attachment: fixed; }
      body .historiaHome .izq {
        width: 400px;
        height: 400px; }
        body .historiaHome .izq .imgHome {
          width: 213px;
          height: auto; }
        body .historiaHome .izq .tituloSpan {
          font-size: 35px;
          letter-spacing: 2px;
          font-weight: 600; }
        body .historiaHome .izq .parrafoHistoria {
          width: 300px;
          height: 150px;
          text-align: center;
          font-size: 15px;
          letter-spacing: 1px;
          margin: 8 px 50 px 0 50 px; }
      body .historiaHome .der {
        width: 400px;
        height: 400px;
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        animation-name: foto02;
        animation-duration: 6s;
        animation-iteration-count: unset; }
        body .historiaHome .der .foto03 {
          width: 180px;
          height: auto;
          position: absolute;
          left: 196px;
          top: 67px; }
        body .historiaHome .der .foto02 {
          width: 172px;
          height: auto;
          position: absolute;
          left: 49px; }
        body .historiaHome .der .foto01 {
          width: 172px;
          height: auto;
          position: absolute;
          left: 47px;
          top: 140px; }
    body .tituloLocal {
      font-size: 35px;
      line-height: 58px;
      text-align: center;
      font-weight: bold;
      width: 100%;
      padding: 0;
      margin: 0; }
    body .locales {
      width: 400px;
      display: flex;
      align-items: center;
      justify-content: center;
      animation-name: cardLocal;
      animation-duration: 4s;
      animation-iteration-count: ease;
      flex-direction: column; }
      body .locales .cardLocal {
        padding: 20px 0;
        width: 390px;
        margin-bottom: 25px;
        text-align: center;
        display: inline-block;
        margin: 10;
        border-radius: 10 px;
        box-shadow: 2px 1px 10px #ddd;
        background: #fff; }
        body .locales .cardLocal .localImg {
          width: 350px; }
    body .pedidosYaContainer .contenedorPedidos .titleAbsoluteIndex {
      top: 3037px;
      font-size: 28px;
      letter-spacing: 1px;
      position: absolute;
      padding: 0 15px 0 15px;
      background-color: white; } }

@media (max-width: 320px) {
  header {
    width: auto;
    height: 130px; }
  header label {
    display: block; }
  body header .contenedorLogo .logoNav {
    width: auto;
    height: 100px; }
  .carousel-item > img {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 10%;
    height: auto;
    padding: 5px; }
  .carousel-inner {
    width: 100%;
    height: 219px; }
  .carousel {
    width: 100%;
    height: 289px; }
  .contenedorCarousel {
    width: 100%;
    height: 159px; }
  body {
    background-image: url(../img/back.jpg);
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center; }
    body .menu {
      position: absolute;
      width: 70%;
      margin-left: -70%; }
      body .menu ul {
        flex-direction: column; }
    body #btn-menu:checked ~ .menu {
      margin: 0;
      z-index: 1; }
    body .historiaHome {
      padding-top: 0;
      width: 100%;
      height: auto;
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: center;
      background-image: url(../img/fondo.jpg);
      background-size: cover;
      background-position: center;
      background-attachment: fixed; }
      body .historiaHome .izq {
        width: 300px;
        height: 310px; }
        body .historiaHome .izq .imgHome {
          width: 187px;
          height: auto; }
        body .historiaHome .izq .tituloSpan {
          font-size: 28px;
          letter-spacing: 2px;
          font-weight: 600; }
        body .historiaHome .izq .parrafoHistoria {
          width: 300px;
          height: 150px;
          text-align: center;
          font-size: 15px;
          letter-spacing: 1px;
          margin: 8 px 50 px 0 50 px; }
      body .historiaHome .der {
        width: 300px;
        height: 300px;
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        animation-name: foto02;
        animation-duration: 6s;
        animation-iteration-count: unset; }
        body .historiaHome .der .foto03 {
          width: 150px;
          height: auto;
          position: absolute;
          left: 150px;
          top: 158px; }
        body .historiaHome .der .foto02 {
          width: 149px;
          height: auto;
          position: absolute;
          left: 20px;
          top: 72px; }
        body .historiaHome .der .foto01 {
          width: 143px;
          height: auto;
          position: absolute;
          left: 20px;
          top: 193px; }
    body .tituloLocal {
      font-size: 28px;
      line-height: 58px;
      text-align: center;
      font-weight: bold;
      width: 100%;
      padding: 0;
      margin: 0; }
    body .locales {
      width: 300px;
      display: flex;
      align-items: center;
      justify-content: center;
      animation-name: cardLocal;
      animation-duration: 4s;
      animation-iteration-count: ease;
      flex-direction: column; }
      body .locales .cardLocal {
        padding: 20px 0;
        width: 290px;
        height: 565px;
        margin-bottom: 25px;
        text-align: center;
        display: inline-block;
        margin: 10;
        border-radius: 10 px;
        box-shadow: 2px 1px 10px #ddd;
        background: #fff; }
        body .locales .cardLocal .localImg {
          width: 270px;
          height: 300px; }
        body .locales .cardLocal .linea {
          width: 127px;
          height: 3 px;
          font-weight: 50px;
          background: #4e4e4e;
          margin-left: 79px; }
    body .pedidosYaContainer {
      width: 290px;
      height: 200px; }
      body .pedidosYaContainer .contenedorPedidos .titleAbsoluteIndex {
        top: 2274px;
        font-size: 20px;
        letter-spacing: 1px;
        position: absolute;
        padding: 0 15px 0 15px;
        background-color: white; } }
