

* {
  margin: 0px;
  padding: 0px;
  font-family: "Roboto Slab", serif;
  text-decoration: none;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}
header { 
  height: 90px;
 }

/* Colores y titulos */
$color:#f4a261;
$tituloPrimario: 47px;
$tituloSecundario: 52px;
$tituloPedidos: 44px;
