#btn-menu {
  display: none;
}
header label {
  display: none;
  width: 30px;
  height: 30px;
  border-right: 1px solid grey;
}
.menu li {
  border-right: 1px solid grey;
}
header label:hover {
  cursor: pointer;
}
.menu ul {
  margin: 0;
  padding: 0;
  display: flex;
  background: white;
  justify-content: center;
}
.menu li:hover {
  background: $color;
}
.menu li a {
  display: block;
  padding: 15px 20px;
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
  line-height: 20px;
  color: black;
}