.pedidosYaContainer {

    width: 100%;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    animation-name: pedidos;
    animation-duration: 6s;
    animation-iteration-count: unset;
  
    padding: 0 10px 0 10px;


    .contenedorPedidos {
        background-color: white;
        width: 600px;
        height: 200px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: center;
        border: 1px solid black;
        
        .titleAbsoluteIndex {
            font-size: $tituloPedidos;
            letter-spacing: 1px;
            position: absolute;
            padding: 0 15px 0 15px;
            top: 4761px;
            background-color: white;
        }

        .titleAbsoluteSabores {
            font-size: 44px;
            letter-spacing: 1px;
            position: absolute;
            padding: 0 15px 0 15px;
            top: 3339px;
            background-color: white;
        }

        .titleAbsolutePromociones {
            font-size: 44px;
            letter-spacing: 1px;
            position: absolute;
            padding: 0 15px 0 15px;
            top: 1530px;
            background-color: white;
        }

        .titleAbsoluteServicios {
            font-size: 44px;
            letter-spacing: 1px;
            position: absolute;
            padding: 0 15px 0 15px;
            top: 1381px;
            background-color: white;
        }

        .logoPedidos {
            width: 100px;
            height: 100px;
            border-radius: 17px;
        }
    }

}