body {
    header {
        width: 100%;

        .contenedorLogo {
            display: flex;
            justify-content: center;

            .logoNav {
                width: auto;
                height: 150px;
            }
        }
    }

    .imgBannerSabores {
        background-image: url("../img/saboresBanner.jpg");
        background-size: cover;
        background-attachment: fixed;
        width: 100%;
        height: 500px;
        padding: 10px 0 10 0;
    }

    .fondoSabores {
        background-image: url("../img/back.jpg");
        width: 100%;
        height: auto;

        .titleListaSabores {
            font-size: $tituloSabores;
            text-align: center;
            padding-top: 20px;
            animation-name: titleListaSabores;
            animation-duration: 6s;
            animation-iteration-count: unset;



            @keyframes titleListaSabores {
                0% {

                    opacity: 0.2;
                }

                50% {

                    opacity: 0.9;
                }

                100% {

                    opacity: 1;
                }
            }

        }

        //animaciones
        #animationSaboresHeladoCard01 {
            animation-name: animationSaboresHeladoCard01;
            animation-duration: 3s;
            animation-iteration-count: ease;

            @keyframes animationSaboresHeladoCard01 {
                0% {

                    opacity: 0;
                }

                50% {

                    opacity: 0.8;
                }

                100% {

                    opacity: 1;
                }
            }
        }

        #animationSaboresHeladoCard02 {
            animation-name: animationSaboresHeladoCard02;
            animation-duration: 6s;
            animation-iteration-count: ease;

            @keyframes animationSaboresHeladoCard02 {
                0% {

                    opacity: 0;
                }

                50% {

                    opacity: 0.8;
                }

                100% {

                    opacity: 1;
                }
            }
        }
        #animationSaboresHeladoCard03 {
            animation-name: animationSaboresHeladoCard03;
            animation-duration: 9s;
            animation-iteration-count: ease;

            @keyframes animationSaboresHeladoCard03 {
                0% {

                    opacity: 0;
                }

                50% {

                    opacity: 0.8;
                }

                100% {

                    opacity: 1;
                }
            }
        }
        .saboresHeladosCard {
            display: inline-block;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-bottom: 80px;
            padding-bottom: 60px;




            .saboresFoto {
                .imgHelado {
                    width: 540px;
                    height: 540px;
                    margin-top: 140px;
                }
                
            }


            .listaSabores {
                font-size: 24px;
                width: 900px;
                margin: 0px 40px;
                margin-top: 80px;
                column-count: 2;

            }
        }
    }

    .pedidosYaContainer {
        display: flex;
        align-items: center;
        justify-content: center;

        .pedidosImg {
            width: 50px;
            height: 50px;
            border-radius: 200px;
        }
    }
}